.body{
    margin-left: 20px;
}

.chat{
    background-color: honeydew;
    padding:20px;
    border-radius: 16px;
    display: inline-block;
}
.chat1{
    background-color: #E4E7E2;
    padding:20px;
    border-radius: 16px;
    display: inline-block;
}
.msg{
    background-color: seagreen;
    color: #0E1011;
    padding: 5px 15px;
    border-radius: 16px;
}