<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Edit Your Chat</h2>
    <form method="post" action="/chats/<%=chat._id%>?_method=PUT">
        <div class="chat1">
             <p>From: <i><%=chat.from%></i></p>
            <textarea name="msg" cols="30" rows="5"><%= chat.msg %></textarea>
        <p>Received by: <i><%=chat.to%></i></p>
        <button>Submit</button>
        </div>
    </form>
</body>
</html>