<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Add a new chat</h2>
    <div class="chat1">
    <form method="post" action="/chats">
        <input placeholder="who are you?" name="from">
        <br><br>
        <textarea placeholder="Write your text here!!!" cols="30" rows="5"  name="msg"></textarea>
        <br><br>
        <input placeholder="receiver's name" name="to">
        <br><br>
        <button>Enter</button>
    </form>
    </div>
</body>
</html>