<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <form method="post" action="http://localhost:8080/instapost/<%=post.id%>?_method=PATCH">
        <h3>@<%=post.username%></h3>
        <input name="image" placeholder="edit image url" value="<%=post.image%>"><br><br>
        <textarea rows="10" cols="40" name="caption" placeholder="enter caption"><%=post.caption%></textarea><br><br>
        <button>Enter</button>
    </form>
</body>
</html>