<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Post</title>
</head>
<body>
    <form method="post" action="http://localhost:8080/instapost">
        <input name="username" placeholder="enter username"><br><br>
        <input name="image" placeholder="enter image url"><br><br>
        <textarea rows="10" cols="40" name="caption" placeholder="enter caption"></textarea><br><br>
        <button>Enter</button>
    </form>
</body>
</html>