<%-include("includes/header.ejs")%>
<body>
    <h1>EJS</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro cum cupiditate nisi, aliquam rerum numquam dolore illo ipsa debitis ea ratione, saepe nostrum enim facilis odit, excepturi accusamus libero placeat?
    Accusantium cupiditate provident magnam nostrum quasi doloribus obcaecati doloremque neque repellat, veniam maiores temporibus ex delectus ipsam eos nemo quae dolorem excepturi numquam optio molestiae! Iure blanditiis modi libero nulla.
    Facere ducimus ipsam tenetur eos quae rem voluptatibus rerum. Ut nulla sit quaerat nihil iste ipsum laboriosam, odit, veritatis distinctio nisi excepturi iure autem ab itaque, nam ipsam sed tempora.
    Aperiam repellat error vitae quam eaque fuga rem, molestiae sunt officia temporibus optio aspernatur laborum illum voluptatum autem eum minus dolores eveniet consequatur quibusdam. Odio doloremque aliquam corporis eius sunt.
    Eveniet, fugit inventore. Natus officia cumque deleniti quidem, adipisci hic dolore unde libero saepe? Vero, nulla sed nihil inventore rerum impedit atque saepe dolorem fugit explicabo molestias, est id? Qui.</p>
    <button>Click Me!</button>
</body>
</html>