<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h3> You are going to delete following user: <%= user2.username %></h3>
    <form method="post" action="/user/<%=user2.id%>?_method=DELETE">
        <input name="email" placeholder="enter email">
        <input type="password" name="password" placeholder="enter password">
        <button>Enter to Delete</button>
    </form>
</body>
</html>