<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <form method="post" action="/user/<%=userr.id%>?_method=PATCH">
        Your are updating following user: <%= userr.email %>
        <textarea name="username"><%= userr.username %></textarea>
        <input type="password" name="password" placeholder="enter password">
        <button>Enter</button>
    </form>
</body>
</html>